<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
   
    <div id="root"></div>

    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)

    <script src="bundle.js"></script>
</body>
</html>