.employee-viewer-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.employee-viewer-header {
  font-size: 16px;
  font-weight: bold;
  flex: 1;
}

.employee-viewer-body {
  flex: 9;
  display: flex;
  flex-direction: row;
}

.employee-viewer-body-menu {
  flex: 1;
}

.employee-viewer-body-content {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.employee-viewer-body-content-toolbar {
  flex: .25;
  background-color: gainsboro;
}

.employee-viewer-body-content-main {
  flex: 4;
  background-color: white;
}

.employee-viewer-body-content-footer {
  flex: 1;
}